<% include partials/header %>

<div class="form-group text-center">
	<form class="center" action="/login" method="POST">
		<div class="pb-3">
			<span class="fas fa-user icon"></span>
			<input class="input100" type="text" name="username" placeholder="Username">
		</div>
		<div>
			<span class="fas fa-lock icon"></span>
			<input class="input100" type="password" name="password" placeholder="Password">
		</div>
		<button class="btn btn-outline-warning mt-3">
			Login
		</button>
	</form>	
</div>

<% include partials/footer %>