<% include ../partials/header %>

<div class="container table">
    <div>
        <h1 class="text-center mt-1">Create New Event</h1>
        <div>
            <form action="/gigs" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="event" placeholder="Artist">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" name="venue" placeholder="Venue">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" name="date" placeholder="Date">
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Price" min="0.01" step="0.01">
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" name="link" placeholder="Ticket Link">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL ">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
				<div class="form-group">
    				<input class="form-control" type="text" name="location" id="location" placeholder="Address">
				</div>
                <div class="form-group text-center">
                    <button class="btn btn-outline-warning">Submit</button>
                </div>
            </form>
			<div class="text-center mb-1">
				<a  href="/gigs" id="show">Go Back</a>
			</div>
        </div>
    </div>
</div>

<% include ../partials/footer %>